html {
  justify-content: center;
  display: flex;
}

body {
  background-image: url("madokabg.jpg");
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  flex: 1;
}

h1 {
  margin-top: -10px;
  margin-bottom: 4px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 119, 142);
  -webkit-text-fill-color: blueviolet;
  font-size: 64px;
  text-shadow: aliceblue 2px 5px;
}
h2 {
  margin-top: 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 119, 142);
  -webkit-text-fill-color: white;
}
h3 {
  margin-top: 0px;
}

.content {
  background-color: pink;
  border-radius: 20px;
  padding: 10px;
  margin: 5%;
  width: 60%;
}

.contentRow {
  flex-direction: row;
  display: flex;
  padding: 12px;
}

.block {
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 12px;
  flex: 1;
}

.comment {
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 12px;
  flex: 1;
}

.commentHeader {
  font-size: 12px;
}
