html {
  justify-content: center;
  display: flex;
}

body {
  background-image: url("heartGif.gif");
}

h3 {
  margin-top: 4px;
}
h2 {
  margin-top: 4px;
}

.content {
  background-color: pink;
  border-radius: 20px;
  padding: 10px;
  margin: 100px;
  flex-direction: column;
  display: flex;
}

.contentBot {
  flex-direction: row;
  display: flex;
  padding: 12px;
}

.contentLeft {
  height: 200px;
  width: 200px;
}
.contentCenter {
  width: 400px;
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 8px;
}
.contentRight {
  height: 200px;
  width: 200px;
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 8px;
}

#status {
  height: 100px;
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 8px;
}
#guestbook {
  height: 100px;
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 8px;
}
