html {
  justify-content: center;
  display: flex;
}

body {
  background-image: url("heartGif.gif");
}

h1 {
  margin-top: 4px;
}
h2 {
  margin-top: 4px;
}
h3 {
  margin-top: 4px;
}

.content {
  background-color: pink;
  border-radius: 20px;
  padding: 10px;
  margin: 100px;
}

.contentRow {
  flex-direction: row;
  display: flex;
  padding: 12px;
}

.block {
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 12px;
  flex: 1;
}
