html {
  justify-content: center;
  display: flex;
}

body {
  background-image: url("/assets/heartGif.gif");
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h1 {
  margin-top: -10px;
  margin-bottom: 4px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgb(255, 119, 142);
  -webkit-text-fill-color: blueviolet;
  font-size: 64px;
  text-shadow: aliceblue 2px 5px;
}
h2 {
  margin-top: 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 119, 142);
  -webkit-text-fill-color: white;
}
h3 {
  margin-top: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 4px;
}

.content {
  background-color: pink;
  border-radius: 20px;
  padding: 10px;
  margin: 100px;
}

.contentRow {
  flex-direction: row;
  display: flex;
  padding: 2px;
  align-items: flex-start;
}

.block {
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 12px;
  flex: 1;
  padding: 8px;
}

.link {
  font-size: 12px;
  padding-left: 12px;
  padding-top: 8px;
}

.entry {
  padding-bottom: 4px;
}
.entry-header {
  color: blueviolet;
}
.entry-content {
  text-indent: 16px;
}

.gb-content {
  background-color: pink;
  border-radius: 20px;
  padding: 10px;
  margin: 5%;
  width: 60%;
}

.comment {
  background-color: cornflowerblue;
  padding: 4px;
  border-radius: 8px;
  border: solid;
  border-width: 2px;
  border-color: aliceblue;
  margin: 12px;
  flex: 1;
}

.commentHeader {
  font-size: 12px;
}

.commentBody {
  white-space: pre-wrap;
}

.little-gif {
  width: 80px;
}

#warning {
  color: red;
  animation: wave 0.5s ease-in-out infinite alternate;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
